@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Arimo:ital,wght@0,400..700;1,400..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=M+PLUS+1+Code:wght@100..700&family=Orbitron:wght@400..900&family=Staatliches&display=swap');


*,
*::before,
*::after {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arimo;
  max-width: 100%;
}